<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="RegisterModules" type="Contracts.RegisterModulesConfig, Contracts" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<RegisterModules>
  <Modules>
    <add name="GSM" scheduler="Day" interval="12" other="{Port:COM10,Byte:8}"/>
  <add name="SMTPP" scheduler="Min" interval="1"></add>
  </Modules>
</RegisterModules>
</configuration>