<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
        <section name="registerModules" type="Contracts.RegisterModulesConfig, Contracts" />
    </configSections>
  <appSettings>
    <add key="interval" value="1000"/>
    <add key="Logger" value="ALL"/>
  </appSettings>
<RegisterModules>
  <Modules>
    <add name="GSM" scheduler="Day"/>
  </Modules>
</RegisterModules>
</configuration>